:root {
    --card-width: 260px;
    --card-height: 290px;
}

#home-page-header {
    background-color: none;
    left: 0;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
}

#home-banner-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
}

#home-banner-img-container {
    width: 30%;
    height: 100%;
    overflow: hidden;
    padding-bottom: var(--pop-shadow-offset);
}

#home-banner-img {
    align-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px var(--pop-shadow-offset) 0px var(--secondary-color-dark);
}

#home-banner-text {
    flex-grow: 1;
    min-width: 0;
    height: 100%;
    padding-bottom: var(--pop-shadow-offset);
}
@media only screen and (max-width: 500px) {
    #home-banner-text {
        
    }
}

#home-banner-text-intro,
#home-banner-text-name,
#home-banner-text-profession {
    font-size: 10px;
    display: block;
    width: max-content;
    padding: 4px 20px;
}

#home-banner-text-intro {
    width: 25%;
    background-color: white;
}

#home-banner-text-name {
    width: 85%;
    color: white;
    font-weight: bold;
    background-color: var(--primary-color-light);
    box-shadow: 0px var(--pop-shadow-offset) 0px var(--primary-color-dark);
    margin-bottom: 80px;
}

#home-banner-text-profession {
    width: 85%;
    color: black;
    font-weight: bold;
    background-color: var(--secondary-color-light);
    box-shadow: 0px var(--pop-shadow-offset) 0px var(--secondary-color-dark);
    float: right;
}

.info-card-container {
    display: block;
    width: var(--card-width);
    height: var(--card-height);
    text-decoration: none;
    color: inherit;
}

.info-card {
    position: absolute;
    background-color: var(--secondary-color-light);
    width: var(--card-width);
    height: var(--card-height);
    padding: var(--default-padding-size);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

#home-page-projects > .button-2,
#home-about-me > .button-2 {
    display: block;
    margin-left: auto;
}

div.project-listings {
    display: flex;
    gap: 10px;
    row-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    margin: auto;
    margin-bottom: 30px;
}

a.project-card {
    position: absolute;
    background-color: var(--secondary-color-light);
    box-shadow: 0px var(--pop-shadow-offset) 0px var(--secondary-color-dark);
    width: var(--card-width);
    height: var(--card-height);
    padding: var(--default-padding-size);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

a.project-card:hover {
    height: max-content;
    box-shadow: 0px var(--pop-shadow-offset) 0px var(--secondary-color-dark), 
        0px 0px 5px black;
}

h3.project-title {
    color: black;
    font-size: 24px;
    height: 30px;
}

div.project-image-container {
    box-sizing: border-box;
    width: calc((260px - var(--default-padding-size) * 2));
    height: calc((260px - var(--default-padding-size) * 2));
    margin: auto;
}

img.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p.project-description {
    margin-top: 10px;
}

.icon-card-set {
    display: flex;
    justify-content: space-evenly;
}

.icon-card-container {
    background-color: var(--primary-background-color);
    flex-shrink: 1;
    min-width: 0;
    width: var(--card-width);
    height: fit-content;
}

.icon-card {
    width: 100%;
    height: fit-content;
}

a.icon-card {
    display: inline-block;
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

button.icon-card {
    background-color: var(--primary-background-color);
    display: inline-block;
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.icon-card-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.icon-card h3 {
    text-align: center;
    text-decoration: none;
    overflow-wrap: anywhere;
    word-break: normal;
    margin-bottom: 10px;
}