<!DOCTYPE html>
<html>
    <head>
        <title>*TEMP*</title>
        <link rel="stylesheet" href="/style/global-style.css">
        <script type="module" src="./*TEMP*.js"></script>
    </head>

    <body>
        <header id="*TEMP*-header" class="header-section">
            
        </header>

        <main id="*TEMP*-main" class="main-section">

            <div id="resources-region">
                <h2 class="section-text">Resources</h2>
                <div id="resources-container">
                    <a href="*TEMP*"
                        target="_blank"
                        class="button-2">
                        <div>
                            <p>
                                *TEMP*
                            </p>
                        </div>
                    </a>

                    <div id="virtual-tour-startup-container"></div>
                </div>
            </div>

            <p><br></p>

            <div id="*TEMP*" class="main-section-group">
                <h2 class="header-section">*TEMP*</h2>
                <div class="header-underline"></div>

            </div>

        </main>

    </body>
</html>