<!DOCTYPE html>
<html>
    <head>
        <title>*TEMP*</title>
        <link rel="stylesheet" href="/style/global-style.css">
        <script type="module" src="./*TEMP*.js"></script>
    </head>

    <body>
        <div id="page-hider"></div>

        <header id="nav-bar-container"></header>

        <header id="*TEMP*-header" class="header-section">
            
        </header>

        <main id="*TEMP*-main" class="main-section">

            <div id="resources-region">
                <h2 class="section-text">Resources</h2>
                <div id="resources-container">
                    <a href="*TEMP*"
                        target="_blank"
                        class="button-2">
                        <div>
                            <p>
                                *TEMP*
                            </p>
                        </div>
                    </a>

                    <div id="virtual-tour-startup-container"></div>
                </div>
            </div>

            <p><br></p>

            <div class="section-row-combiner">
                <div id="*TEMP*-overview" class="main-section-group">
                    <h2 class="section-text">Overview</h2>
                    <div class="section-underline"></div>
                    <table class="table-listing">
                        <tr>
                            <th>Project Type</th>
                            <td>*TEMP*</td>
                        </tr>
                        <tr>
                            <th>Development Period</th>
                            <td>*TEMP*</td>
                        </tr>
                        <tr>
                            <th>Development Time</th>
                            <td>*TEMP*</td>
                        </tr>
                    </table>
                </div>

                <div id="*TEMP*-tools" class="main-section-group">
                    <h2 class="section-text">Tools Used</h2>
                    <div class="section-underline"></div>
                    <table class="table-listing">
                        <tr>
                            <th>IDE</th>
                            <td>*TEMP*</td>
                        </tr>
                        <tr>
                            <th>Lanugage</th>
                            <td>*TEMP*</td>
                        </tr>
                        <tr>
                            <th>Libraries</th>
                            <td>*TEMP*</td>
                        </tr>
                    </table>
                </div>
            </div>

            <p><br></p>


            <div id="*TEMP*" class="main-section-group">
                <h2 class="header-section">*TEMP*</h2>
                <div class="header-underline"></div>

            </div>

        </main>

    </body>
</html>