<!DOCTYPE html>
<html>
    <head>
        <title>*TEMP*</title>
        <link rel="stylesheet" href="/style/global-style.css">
        <script type="module" src="./*TEMP*.js"></script>
    </head>

    <body>
        <header id="*TEMP*-header" class="header-section">
            
        </header>

        <main id="*TEMP*-main" class="main-section">

            <div id="virtual-tour-startup-container"></div>

            <p><br></p>

            <div id="*TEMP*" class="main-section-group">
                <h2 class="header-section">*TEMP*</h2>
                <div class="header-underline"></div>

            </div>

        </main>

    </body>
</html>